@font-face {
    font-family: 'norse';
    src: url('../fonts/Norse-Bold.otf');
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}


body,
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
}

.left {
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.top {
    display: flex;
    flex: 0.5;
}

.mid {
    display: flex;
    flex-grow: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 12px;
}

h1 {
    font-family: 'norse';
    font-size: 7rem;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 1rem;
}

footer a {
    color: white;
}

.logo {
    height: 120px;
    width: auto;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: space-between;
    font-family: roboto;
    background-color: #f8f8f8;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 2rem;


}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    /* padding: 2rem; */

    align-items: stretch;
}

.formGroup {
    padding: 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    background-color: white;


}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.row {
    display: flex;
    gap: 48px;

}

.col {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label {
    font-size: 0.75rem;
}

input {}

button {
    background-color: #596D48;
    color: white;
    padding: 8px 40px;
    border-radius: 5px;
    font-style: bold;
    align-self: flex-start;
    margin-left: 2rem;
}

.signUp {
    display: flex;
    flex: 1;
    margin-left: 2rem;
}